body {
    font-family: 'tomorrow';
    text-align: center;
}

.jumbotron {
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
}

.top-center {
    justify-content: center;
    text-align: center;
}

.welcome {
    font-family: 'tomorrow';
    color: white;
    font-size: xx-large;
}

#amazing {
    font-family: 'tomorrow';
    color: white;
    font-size: smaller;
}

.centered {
    text-align: center;
}

#welcome-image {
    width: 100%;
}

#mouseclick {
    text-align: center;
    justify-content: center;
}

.about-us {
    text-align: center;
    font-size: smaller;
}

.services {
    background-image: url("../assets/backgrounds/s_image.jpg");
    text-align: center;
    font-size: smaller;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 150px;
}

.portfolio-sec {
    text-align: center;
    justify-content: center;
    margin: 200px;
}

.contact-sec {
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.whatwedo {
    padding: 100px;
}

.h1 {
    font-size: xx-large;
}

.h3 {
    text-align: center;
}


.rob:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
    opacity: 3;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

#baileywonger {
    color: transparent;
    font-size: xx-large;
    top: -170px;
    left: 10px;
    position: relative;
}

#baileywonger:hover {
    transform: translate(-50%, -50%);
    border: #FEFEFC solid 12px;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    top: -150px;
    left: 179px;
    position: relative;
}


h4 {
    text-align: center;
    text-emphasis: bold;
}

.contactus {
    color: white;
}

#contactimage {
    width: 100%;
}

::-webkit-input-placeholder {
    color: white;
}

.delani {
    font-size: small;
    text-align: center;
    padding-left: 45%;
}

.socialicons {
    margin-left: 35%;
}

.message {
    background-color: transparent;
    margin-left: 10%;
}

#name {
    background-color: transparent;
    margin-left: 10%;
}

#email {
    background-color: transparent;
    margin-left: 10%;
}

#submit {
    background-color: transparent;
    margin-left: 10%;
}

.hide-product {
    display: none;
}

.hide-development {
    display: none;
}

.hide-design {
    display: none;
}

p.clickable-1 {
    text-align: center;
}

p.clickable-2 {
    text-align: center;
}

p.clickable-3 {
    text-align: center;
}

button {
    margin-left: 40%;
}

textarea {
    background-color: transparent;
}

.port1,
.port2,
.port3,
.port4,
.port5,
.port6,
.port7,
.port8 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #FEFEFC solid 2px;
    background: #FEFEFC;
    opacity: 0.7;
    color: black;
}