body{
    font-family: Arial, Helvetica, sans-serif;
}
.top-center{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#welcome{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: xx-large;
    line-height: 69px;
}
#amazing{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: smaller;
    line-height: 69px;
}