body{
   font-family: 'tomorrow';
}
.top-center{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.welcome{
    font-family: 'tomorrow';
    line-height: 69px;
    color: white;
    font-size: xx-large;
}
#amazing{
   font-family: 'tomorrow';
    color: white;
    font-size: smaller;
    line-height: 69px;
}
.centered{
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
#welcome-image{
    width: 100%;
}
#mouseclick{
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.about-us{
    text-align: center;
    font-size: smaller;
}
.services{
    text-align: center;
    font-size: smaller;
    color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#service-image{
    width: 100%;
}
.h1{
    font-size: xx-large;
}
.h3{
    text-align: center;
}
.what-we-do{
    float: right;
    width: 80%;
    padding: 20px;
}
.column{
    float: left;
    width: 25%;
}
.rob:hover{
    transform: scale(1.2);
    transition: all 0.3s ease;
    opacity: 3;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
#baileywonger{
    position: absolute;
    top: 197%;
    left: 75%;
    transform: translate(-50%,-50%);
    border: #FEFEFC solid 2px;
    background: transparent;
    color: white;
    font-size: xx-large;
}
h4{
    text-align: center;
    text-emphasis: bold;
}
.contactus{
    color: white;
    position: absolute;
    top: 213%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#contactimage{
    width: 100%;
}
.contactform{
    position: absolute;
    top: 235%;
    left: 50%;
    transform: translate(-50%,-50%);
}
::-webkit-input-placeholder{
    color: white;
}
.delani{
    font-size:small ;
    text-align: center;
}
.socialicons{
    margin-left: 35%;
}
.message{
    background-color: transparent;
    margin-left: 10%;
}
#name{
    background-color: transparent;
    margin-left: 10%;
}
#email{
    background-color: transparent;
    margin-left: 10%;
}
#submit{
    background-color: transparent;
    margin-left: 10%;
}
.hide-product{
    display: none;
}
.hide-development{
    display: none;
}
.hide-design{
    display: none;
}
p.clickable-1{
    text-align: center;
}
    
p.clickable-2{
    text-align: center;
}
    
p.clickable-3{
    text-align: center;
}
    
button{
    margin-left: 40%;
}
textarea{
    background-color: transparent;
}
    
.port1,.port2,.port3,.port4,.port5,.port6,.port7,.port8{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #FEFEFC solid 2px;
    background: #FEFEFC;
    opacity: 0.7;
    color: black;
}
    
    
